---
import { Image } from 'astro:assets';

import ImgArtStyle01 from '@assets/service-features/art-styles/art-style-01.jpg';
import ImgArtStyle02 from '@assets/service-features/art-styles/art-style-02.jpg';
import ImgArtStyle03 from '@assets/service-features/art-styles/art-style-03.jpg';
import ImgArtStyle04 from '@assets/service-features/art-styles/art-style-04.jpg';
import ImgArtStyle05 from '@assets/service-features/art-styles/art-style-05.jpg';
import ImgArtStyle06 from '@assets/service-features/art-styles/art-style-06.jpg';
import ImgArtStyle07 from '@assets/service-features/art-styles/art-style-07.jpg';
import ImgArtStyle08 from '@assets/service-features/art-styles/art-style-08.jpg';
import ImgArtStyle09 from '@assets/service-features/art-styles/art-style-09.jpg';
import ImgArtStyle10 from '@assets/service-features/art-styles/art-style-10.jpg';
import ImgArtStyle11 from '@assets/service-features/art-styles/art-style-11.jpg';
---

<div class="carousel carousel-flex-height" style="--duration: 80s">
	<ul class="carousel-track">
		<li class="carousel-slide">
			<Image src={ImgArtStyle03} alt="" width="800" class="aspect-[7/12] h-full w-auto object-cover pr-2 duration-300" />
		</li>
		<li class="carousel-slide">
			<Image src={ImgArtStyle04} alt="" width="800" class="aspect-[7/12] h-full w-auto object-cover pr-2 duration-300" />
		</li>
		<li class="carousel-slide">
			<Image src={ImgArtStyle05} alt="" width="800" class="aspect-[7/12] h-full w-auto object-cover pr-2 duration-300" />
		</li>
		<li class="carousel-slide">
			<Image src={ImgArtStyle06} alt="" width="800" class="aspect-[7/12] h-full w-auto object-cover pr-2 duration-300" />
		</li>
		<li class="carousel-slide">
			<Image src={ImgArtStyle07} alt="" width="800" class="aspect-[7/12] h-full w-auto object-cover pr-2 duration-300" />
		</li>
		<li class="carousel-slide">
			<Image src={ImgArtStyle08} alt="" width="800" class="aspect-[7/12] h-full w-auto object-cover pr-2 duration-300" />
		</li>
		<li class="carousel-slide">
			<Image src={ImgArtStyle09} alt="" width="800" class="aspect-[7/12] h-full w-auto object-cover pr-2 duration-300" />
		</li>
		<li class="carousel-slide">
			<Image src={ImgArtStyle10} alt="" width="800" class="aspect-[7/12] h-full w-auto object-cover pr-2 duration-300" />
		</li>
		<li class="carousel-slide">
			<Image src={ImgArtStyle11} alt="" width="800" class="aspect-[7/12] h-full w-auto object-cover pr-2 duration-300" />
		</li>
		<li class="carousel-slide">
			<Image src={ImgArtStyle03} alt="" width="800" class="aspect-[7/12] h-full w-auto object-cover pr-2 duration-300" />
		</li>
		<li class="carousel-slide">
			<Image src={ImgArtStyle04} alt="" width="800" class="aspect-[7/12] h-full w-auto object-cover pr-2 duration-300" />
		</li>
		<li class="carousel-slide">
			<Image src={ImgArtStyle05} alt="" width="800" class="aspect-[7/12] h-full w-auto object-cover pr-2 duration-300" />
		</li>
		<li class="carousel-slide">
			<Image src={ImgArtStyle06} alt="" width="800" class="aspect-[7/12] h-full w-auto object-cover pr-2 duration-300" />
		</li>
		<li class="carousel-slide">
			<Image src={ImgArtStyle07} alt="" width="800" class="aspect-[7/12] h-full w-auto object-cover pr-2 duration-300" />
		</li>
		<li class="carousel-slide">
			<Image src={ImgArtStyle08} alt="" width="800" class="aspect-[7/12] h-full w-auto object-cover pr-2 duration-300" />
		</li>
		<li class="carousel-slide">
			<Image src={ImgArtStyle09} alt="" width="800" class="aspect-[7/12] h-full w-auto object-cover pr-2 duration-300" />
		</li>
		<li class="carousel-slide">
			<Image src={ImgArtStyle10} alt="" width="800" class="aspect-[7/12] h-full w-auto object-cover pr-2 duration-300" />
		</li>
		<li class="carousel-slide">
			<Image src={ImgArtStyle11} alt="" width="800" class="aspect-[7/12] h-full w-auto object-cover pr-2 duration-300" />
		</li>
	</ul>
</div>
