---
import { Image } from 'astro:assets';

import ImgSlide01 from '@assets/runboy-01.jpg';
import ImgSlide02 from '@assets/runboy-02.jpg';
import ImgSlide03 from '@assets/runboy-03.jpg';
import ImgSlide04 from '@assets/runboy-04.jpg';
import ImgSlide05 from '@assets/runboy-05.jpg';
import ImgSlide06 from '@assets/runboy-06.jpg';
import ImgSlide07 from '@assets/runboy-07.jpg';
import ImgSlide08 from '@assets/runboy-08.jpg';
import ImgSlide09 from '@assets/runboy-09.jpg';
import ImgSlide10 from '@assets/runboy-10.jpg';
import ImgSlide11 from '@assets/runboy-11.jpg';
import ImgSlide12 from '@assets/runboy-12.jpg';
---

<div class="left-0 top-0 hidden h-full w-full grid-cols-2 gap-4 sm:gap-10 lg:absolute xl:grid xl:gap-20">
	<div class="carousel carousel-vertical" style="--duration: 60s">
		<ul class="carousel-track w-full">
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide07} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide08} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide09} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide10} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide11} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide12} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide07} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide08} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide09} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide10} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide11} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide12} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
		</ul>
	</div>
	<div class="carousel carousel-vertical carousel-reverse" style="--duration: 60s">
		<ul class="carousel-track w-full">
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide01} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide02} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide03} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide04} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide05} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide06} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide01} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide02} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide03} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide04} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide05} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
			<li class="carousel-slide pb-20">
				<Image src={ImgSlide06} alt="" width="800" loading="eager" class="aspect-[8/5] rounded-md object-cover shadow-lg" />
			</li>
		</ul>
	</div>
</div>

<div class="grid h-full grid-cols-1 gap-2 xl:hidden">
	<div class="carousel" style="--duration: 40s">
		<ul class="carousel-track">
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide07} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide08} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide09} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide10} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide11} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide12} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide07} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide08} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide09} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide10} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide11} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide12} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
		</ul>
	</div>
	<div class="carousel carousel-reverse" style="--duration: 40s">
		<ul class="carousel-track">
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide01} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide02} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide03} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide04} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide05} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide06} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide01} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide02} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide03} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide04} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide05} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
			<li class="carousel-slide pr-2">
				<Image src={ImgSlide06} alt="" width="800" loading="eager" class="aspect-[8/5] w-[160px] object-cover shadow-lg sm:w-[280px]" />
			</li>
		</ul>
	</div>
</div>
