---
import { Image } from 'astro:assets';

import ImgRunboy01 from '@assets/service-features/runboy/runboy-01.jpg';
import ImgRunboy02 from '@assets/service-features/runboy/runboy-02.jpg';
import ImgRunboy03 from '@assets/service-features/runboy/runboy-03.jpg';
import ImgRunboy04 from '@assets/service-features/runboy/runboy-04.jpg';
import ImgRunboy05 from '@assets/service-features/runboy/runboy-05.jpg';
import ImgRunboy06 from '@assets/service-features/runboy/runboy-06.jpg';
import ImgRunboy07 from '@assets/service-features/runboy/runboy-07.jpg';
import ImgRunboy08 from '@assets/service-features/runboy/runboy-08.jpg';
import ImgRunboy09 from '@assets/service-features/runboy/runboy-09.jpg';
import ImgRunboy10 from '@assets/service-features/runboy/runboy-10.jpg';
import ImgRunboy11 from '@assets/service-features/runboy/runboy-11.jpg';
import ImgRunboy12 from '@assets/service-features/runboy/runboy-12.jpg';
import ImgRunboy13 from '@assets/service-features/runboy/runboy-13.jpg';
---

<div class="carousel" style="--duration: 60s">
	<ul class="carousel-track">
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy01} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy02} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy03} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy04} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy05} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy06} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy01} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy02} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy03} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy04} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy05} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy06} alt="" width="320" class="w-[150px]" />
		</li>
	</ul>
</div>

<div class="carousel carousel-reverse" style="--duration: 60s">
	<ul class="carousel-track">
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy07} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy08} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy09} alt="" width="320" class="w-[150px]" />
		</li>
		<!-- <li class="carousel-slide pr-2">
			<Image src={ImgRunboy10} alt="" width="320" class="w-[150px]" />
		</li> -->
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy11} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy12} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy13} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy07} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy08} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy09} alt="" width="320" class="w-[150px]" />
		</li>
		<!-- <li class="carousel-slide pr-2">
			<Image src={ImgRunboy10} alt="" width="320" class="w-[150px]" />
		</li> -->
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy11} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy12} alt="" width="320" class="w-[150px]" />
		</li>
		<li class="carousel-slide pr-2">
			<Image src={ImgRunboy13} alt="" width="320" class="w-[150px]" />
		</li>
	</ul>
</div>
